html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  h1 {font-size: xx-large;}
  h3 {font-size: large;}  

  .general {
    color:white;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    height: auto;
    zoom: 200%;
  }

  .container {
    color:white;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    height: auto;
  }

  #userText {
    width: 100%;
  }

  #currentSlide {

    width: 100%; /* 100% of the container width */
    height: 100%; /* 100% of the container height */
    object-fit: cover; /* Scale the image to cover the entire container */
  }

  p {
    text-align: center;
  }

  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #storycontainer {
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: auto;
    width: 100%;
  }
  
  #buttoncontainer {
    position: absolute;
    z-index: 1; /* Overlay the image */
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  #prev-btn, #next-btn{
    display: inline-block;
    margin: 0;
    /* Add additional styles as desired */
    opacity: 0;
    width: 500px;
    height: 100vh;
  }
  
  #storytext {
    height: 300px;
  }