<!DOCTYPE html>
<html>
  <head>
    <!-- Link to Roboto font for css -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,100' rel='stylesheet' type='text/css'>
    <!-- Link to css file for styling -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="general">
        <!-- Title -->
        <h1>Nuopedia</h1>
        <!-- Submission form text box -->
        <form class='comments' method="POST">
            {{ template_form.hidden_tag() }}
            <!-- Write a story... text -->
            <h3 class="comments">{{ template_form.comment.label }}</h3>
            <!-- Text box -->
            <p class="comments">{{ template_form.comment(size=50) }}</p>
            <!-- Submit button -->
            <p class="comments">{{ template_form.submit() }}</p>
        </form>
    </div>
  </body>
</html>